* {
    margin: 0px;
    padding: 0px;
    font-family:'Hepta Slab', Helvetica, Arial;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all ease 0.5s;
    box-shadow: 5px 5px 5px #CCC;
}

.modal-area {
    overflow: hidden;
    width: 1050px;
    height: 430px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 50px #333
}

.modal-photo-frst, .modal-photo-frst img, .modal-photo-scnd, .modal-photo-scnd img, .modal-photo-thrd, .modal-photo-thrd img, .modal-photo-frth, .modal-photo-frth img {
    width: 310px;
    height: 215px;
}

.modal-photo-info {
    background-color: #F6F6F6;
    border-left: 1px solid #CCC;
    flex: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.modal-desc {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.modal-desc-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal-desc-price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.modal-desc-sizes {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-desc-size {
    display: flex;
    gap: 15px;
}

.modal-desc-size-item {
    padding: 7px;
    border: 1px solid #666;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 25px;
}

.selected {
    background-color: #555;
    color: #FFF;
    font-weight: 700;
    border: 1px solid #000;
}

.modal-desc-size-item:hover, .modal-qt-plus:hover, .modal-qt-minus:hover{
    background-color: #555;
    color: #FFF;
}

.modal-qt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 20px;
    padding: 2px;
}

.modal-qt-plus, .modal-qt-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 50%;
    padding: 10px;
    padding-left: 8px;
    cursor: pointer;
    font-size: 18px;
}

.modal-qt-qt {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    padding: 5px;
    font-size: 14px;
}

.modal-desc-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.modal-add {
    width: 185px;
    height: 52px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(144, 187, 144);
    cursor: pointer;
}

.modal-add:hover {
    background-color: rgb(7, 66, 7);
    color: #FFF;
}

.modal-cancel {
    width: 100px;
    height: 52px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(221, 221, 136);
    cursor: pointer;
}

.modal-cancel:hover {
    background-color: rgb(182, 182, 4);
    color: #FFF;
}

.modal-frete {
    margin-left: 15px;
    margin-top: 20px;
}

.modal-input {
    width: 210px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    outline: none;
}

.modal-input::placeholder {
    font-size: 16px;
    padding: 4px;
}

.modal-frete-button {
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: rgba(34, 34, 34, 0.411);
    border: 1px solid black;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.modal-frete-button:hover {
    background-color: #333;
    color: #FFF;
}

.modal-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.shop-cart {
    display: flex;
    flex-direction: column;
    width: 0px;
    background-color: rgba(20, 20, 20, 0.990);
    color: #F6F6F6;
    font-weight: 700;
    transition: all ease 0.7s;
    padding-top: 80px;
}

.shop-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.closer {
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.cart-title {
    height: 50px;
    flex: 0.7;
    margin: 10px;
}

.cart {
    width: 100%;
    height: auto;
}

.cart-general {
    display: none;
}

.cart-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 0.8;
    margin: 0px 10px;
}

.cart-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.cart-img {
    width: 90px;
    height: 60px;
}

.cart-desc {
    margin-top: 20px;
    font-size: 12px;
}

.cart-qtds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(102, 102, 102, 0.678);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.cart-minus, .cart-plus {
    font-size: 14px;
    cursor: pointer;
}

.cart-qt {
    font-size: 13px;
}

.cart-details-total {
    display: flex;
    flex-direction: column;
}

.cart-subtotal, .cart-desc-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    flex: 1.5;
    margin: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.400);
    padding-top: 20px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    flex: 1.5;
    margin: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.400);
    border-bottom: 1px solid rgba(204, 204, 204, 0.400);
    padding: 15px 0px;
}

.cart-button {
    flex: 4;
    display: flex;
    margin: 10px;
}

.cart-button button {
    font-size: 20px;
    font-weight: 700;
    background-color: #CCC;
    color: #222;
    border: none;
    width: 250px;
    height: 40px;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

.cart-button button:hover {
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    width: 100vw;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    background-color: #111;
    box-shadow: 0px 3px 5px rgba(19, 18, 18, 0.801);
    overflow: hidden;
}

.logo-img-air, .logo-img-nike {
    width: 80px;
    height: 80px;
}

#menu {
    width: 36px;
    height: 36px;
    display: none;
    cursor: pointer;
}

nav ul {
    width: 600px;
    height: 0px;
    gap: 30px;
    display: flex;  
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: all ease 0.5s;
}

nav ul li a {
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

nav a:hover {
    color: #CCC;
}

main {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 80px 0px;
    background-color: #F6F6F6;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: rgba(230, 222, 222, 0.452);
    margin: auto;
}

.snkrs {
    display: none;
}

.sneakers-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sneakers-img img {
    width: 280px;
    height: 220px;
}

.sneakers-name, .sneakers-price {
    font-weight: 700;
}


footer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #111;
    padding: 20px;
    color: #FFF;
}

.footer-content {
    height: 350px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 20px;
    background-color: #111;
    border-bottom: 1px solid rgba(255, 255, 255, 0.616);
}

hr {
    display: none;
}

.footer-subcontent {
    flex: 1;
}

.footer-subcontent p:hover, .footer-content-end p:hover  {
    color: #CCC;
    cursor: pointer;
}

.social-footer {
    margin-bottom: 35px;
}

.footer-subcontent p {
    font-size: 14px;
    margin-bottom: 4px;
}

.footer-subcontent h3 {
    margin-bottom: 13px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
}

.logo-footer {
    width: 30px;
    height: 30px;
    background-color: rgba(238, 234, 234, 0.459);
    border-radius: 30%;
    margin-right: 10px;
}

.bg-card {
    background-color: #F1F1F1;
    width: 45px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 7px;
    border-radius: 5px;
}

.logo-card-footer {
    width: 38px;
    height: 25px;
}

.logo-card-footer-discover {
    width: 40px;
}

.logo-card-footer-hiper {
    width: 40px;
    height: 22px;
}

.footer-end {
    max-width: 1190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 25px 0px 0px 0px;
}

@media screen and (max-width: 1100px) {

    #menu {
        display: none;
        position: absolute;
    }

    .footer-content {
        height: auto;
    }
    
    .footer-end {
        justify-content: center;
        width: auto;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 1000px) {

    .shop-cart {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding-top: 10px;
        align-items: center;
        padding-right: 550px;
    }

    .modal-area {
        width: 400px;
        height: auto;
        flex-direction: column;
    }

    .modal-photos {
        display: flex;
    }

    .modal-photo-frst, .modal-photo-frst img, .modal-photo-scnd, .modal-photo-scnd img, .modal-photo-thrd, .modal-photo-thrd img, .modal-photo-frth, .modal-photo-frth img {
        width: 200px;
        height: 150px;
    }

    .modal-photo-thrd, .modal-photo-frth {
        display: none;
    }

    .modal-desc {
        margin: 0px 0px 10px 5px;
    }

    .modal-desc-name {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .modal-desc-price {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .modal-desc-sizes {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .modal-desc-size {
        gap: 10px;
    }

    .modal-desc-size-item {
        font-size: 14px;
    }

    .modal-qt {
        font-size: 14px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .modal-qt-qt {
        font-size: 12px;
        padding: 5px;
    }

    .modal-frete {
        margin: 0px;
    }

    .modal-input {
        height: 25px;
        font-size: 14px;
    }

    .modal-input::placeholder {
        font-size: 14px;
    }

    .modal-frete-button {
        height: 30px;
        font-size: 12px;
        padding: 3px;
    }

    .modal-desc-buttons {
        margin: 0px;
        margin-top: 30px;
    }

    .modal-add {
        height: 45px;
        font-size: 14px;
    }

    .modal-cancel {
        height: 45px;
        font-size: 14px;
    }

    header {
        position: static;
        justify-content: space-around;
    }

    #menu {
        display: block;
        position: absolute;
}

    .logo-img-air, .logo-img-nike {
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 99;
    }

    nav ul {
        display: none;
        gap: 30px;
        width: 40%;
        height: 300px;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 80px;
        left: calc(30%);
        background-color: rgba(17, 17, 17, 0.945);
        text-align: center;
        border-radius: 5px;
        border: 1px solid rgba(17, 17, 17, 0.945);
        transition: all ease 0.5s;
    }

    nav ul li {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        width: 100%;
        flex: 1;
    }


    nav li:hover {
        background-color: rgba(255, 255, 255, 0.781);
        border: 1px solid black;
    }

    nav li a:hover {
        color: #000;
        font-weight: bold;
    }

    main {
        position: static;
        top: 0px;
    }
}

@media screen and (max-width: 850px) {

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 50px;
        border-bottom: none;
    }

    hr {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .container-card {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

    nav ul li a {
        height: 30px;
    }
    }
    
    @media screen and (max-width: 425px) {
    
    nav ul {
        width: 45%;
        height: calc(58vh - 80px);
    }
    
    nav ul li a {
        height: 32px;
    }
    }
    
    @media screen and (max-width: 320px) {
    
    nav ul li a {
        height: 30px;
        font-size: 20px;
    }
    }